<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hvahoot</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>

    
    <div class="container">
        <h1>hvahoot</h1>
        <ul class="list">
            <div class="list__item--yellow">
                <a href="/logginn">logg inn</a>
            </div>
            <div class="list__item--blue">
                <a class="list__item" href="/registrering">registrering deg</a>
                
            </div>
        </ul>
    </div>



    <script src="script.js"></script>
</body>

</html>